<footer>
    <div class="container">
        <div class="row">
            <div class="footer-content col-md-12">
                <nav class="footer-nav col-md-4">
                    <h5 class="violet-band dancing-font">Site navigation</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </nav>
                <div class="gallery col-md-4">
                    <h5 class="violet-band dancing-font">Gallery</h5>
                    <div class="gallery__group">
                        <img src="img/gallery-1.jpg" alt="">
                        <img src="img/gallery-2.png" alt="">
                        <img src="img/gallery-3.png" alt="">
                        <img src="img/gallery-4.png" alt="">
                        <img src="img/gallery-5.png" alt="">
                        <img src="img/gallery-6.jpg" alt="">
                    </div>
                </div>
                <div class="timing col-md-4">
                    <h5 class="violet-band dancing-font">Timing</h5>
                    <div class="timing__block">
                        <p><span>MON – THUR</span><span>10:00am – 12:00pm</span></p>
                        <p><span>FRIDAY</span><span>6:00pm – 8:00pm</span></p>
                        <p><span>SATURDAY</span><span>6:30pm – 9:30pm</span></p>
                        <p><span>SUNDAY</span><span>CLOSED</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="js/main.js"></script>
<script src="https://use.fontawesome.com/5175a7fdfb.js"></script>
</body>
</html>