@font-face {
  font-family:"open sans bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"open sans regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"dancing script";
  src: url("../fonts/DancingScript-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}