//---global styles
.pink-btn {
  button {
    box-sizing: border-box;
    border: 3px solid #ce5aff;
    background: #fff;
    width: 209px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    font: normal 18px "open sans bold";
    color: #ce5aff;
    cursor: pointer;
    outline: none;
  }
}
.dancing-font {
  font: normal 52px "dancing script" !important;
  color: #222;
  letter-spacing: -0.5px;
}
.violet-band {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100px;
    height: 2px;
    box-sizing: border-box;
    background: #ce5aff;
    display: block;
  }
}
p {
  color: #222;
}
//---global styles

//---header styles
header {
  background: url('../img/header-bg.jpg') center no-repeat;
  width: 100%;
  background-size: cover;
  height: 800px;
  position: relative;
  z-index: 1;
  .pink-btn {
    margin-left: 60px;
  }
  &::after {
    content: '';
    display: block;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
  }
}
.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  height: 80px;
}
nav {
  z-index: 1;
  margin-left: 109px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 10px;
      a {
        text-decoration: none;
        color: #fff;
        font: normal 14px "open sans bold";
      }
    }
  }
}
.question {
  button {
    box-sizing: border-box;
    border: 3px solid #ce5aff;
    background: #fff;
    width: 209px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    font: normal 18px "open sans bold";
    color: #ce5aff;
    cursor: pointer;
    outline: none;
  }
}
.header-quote {
  margin-top: 45px;
  margin-left: 70px;
  p {
    font: normal 18px "open sans regular";
    background: #fff;
    width: 470px;
    margin: 0;
    padding: 0 5px;
    box-sizing: border-box;
    &:first-child {
      display: inline-block;
      width: auto;
      padding-left: 9px;
      padding-right: 18px;
    }
    &:last-child {
      line-height: 28px;
      padding-left: 11px;
      padding-bottom: 5px;
    }
  }
}
.logo {
  margin-left: 70px;
}
//---header styles

//--main styles
main {
  background: #ffe0e9;
  position: relative;
  z-index: 3;
  overflow: visible;
  padding-bottom: 20px;
}
.some-article {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  max-width: 1000px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: -300px;
  z-index: 100;
  &__man {
    margin-top: 81px;
  }
  &__text {
    margin-top: 50px;
    h3 {

    }
    p {
      font: normal 16px "open sans regular";
      margin-top: 25px;
      line-height: 24px;
      max-width: 385px;
    }
    .pink-btn {
      margin-top: 24px;
      button {
        width: 167px;
      }
    }
  }
}
.our-history {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  max-width: 1000px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top:-215px;
  padding: 0 0 28px 0;
  .violet-band {
    margin-left: 13px;
    width: 100%;
  }
  &__left {
    border-right: 2px solid #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 27px;
    height: 812px;
    padding: 0;
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-top: 223px;
    padding: 0 15px 0 0;
    .history-stage {
      p {
        padding-left: 67px !important;
        max-width: 475px !important;
      }
    }
  }
  h3 {
    margin-top: 53px;
  }
  .history-stage {
    &:nth-child(2){
      p {
        margin-top: 19px;
      }
    }
    img {
      margin-left: 15px;
      margin-top: 21px;
    }
    h6 {
      font: normal 18px "open sans bold";
      color: #fff;
      margin: 0 0 0 21px;
      position: relative;
      padding: 3px 0 3px 21px;
      letter-spacing: 0.3px;
      &:after {
        content: '';
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        color: #fff;
        top: -20px;
      }
    }
    p {
      font: normal 14px "open sans regular";
      padding-left: 14px;
      margin-top: 29px;
      line-height: 21px;
      max-width: 420px;
    }
    .orange-stage {
      background: #bd6b00;
      &:after {
        content: '1970';
        background: #bd6b00;
        right: -38px;
      }
    }
    .blue-stage {
      background: #7400bd;
      margin-left: 16px;
      &:after {
        content: '2000';
        background: #7400bd;
        right: -37px;
      }
    }
    .green-stage {
      background: #117600;
      padding: 3px 0 3px 47px;
      &:after {
        content: '2000';
        background: #117600;
        left: -52px;
      }
    }
  }
}
.other-products {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  top: -130px;
  position: relative;
  &__block {
    width: 50%;
    position: relative;
    .one-product {
      position: relative;
      &:after {
        z-index: 1;
        content: '';
        display: none;
        background: rgba(0,0,0,0.6);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        animation: slow-motion-bg 0.7s linear 1;
      }
      img {
        width: 100%;
        display: block;
      }
      &:hover {
        .pink-btn {
          display: block;
        }
        &:after {
          display: block;
        }
      }
      .pink-btn {
        z-index: 2;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        animation: opacity-btn 0.5s linear 1;
        opacity: 1;
      }
    }
    @keyframes slow-motion-bg {
      0%{background: rgba(0,0,0,0)}
      100%{background: rgba(0,0,0,0.6)}
    }
    @keyframes opacity-btn {
      0%{opacity: 0}
      100%{opacity: 1}
    }
  }

}
.map {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: relative;
  top: -130px;
  iframe {
    width: 100%;
    height: 400px;
    pointer-events: none;
    position: relative;
    z-index: 1;
  }
  .we-here {
    margin-top: -26px;
    z-index: 2;
    background: #3e0058;
    width: 167px;
    height: 56px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -32px;
      border: 17px solid transparent;
      border-top: 17px solid #3e0058;
    }
  }
}
.contact-form {
  background: #fff;
  top: -62px;
  max-width: 1000px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 60px;
  h3 {
    margin-top: 49px;
  }
  form {
    margin-top: 11px;
    padding-left: 0;
    padding-right: 9px;
  }
  .pink-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    button {
      width: 168px;
    }
  }
  .input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &:nth-child(2){
      margin-top: 29px;
    }
    &:nth-child(3){
      margin-top: 30px;
    }
  }
  input, textarea {
    border: none;
    border-left: 1px solid #ce5aff;
    background: #eee;
    outline: none;
    cursor: pointer;
    padding: 0 5px 0 20px;
    font: normal 16px "open sans regular";
    color: #222;
    box-sizing: border-box;
    resize: none;
    &:focus {
      outline: none;
    }
    &:-ms-input-placeholder {
      font: normal 16px "open sans regular";
      color: #222;
    }
    &:-moz-placeholder {
      font: normal 16px "open sans bold";
      color: #222;
    }
    &::-webkit-input-placeholder {
      font: normal 16px "open sans bold";
      color: #222;
    }
  }
  input {
    width: 305px;
    height: 50px;
  }
  textarea {
    padding-top: 18px;
    width: 100%;
    height: 150px;
  }
  .our-contacts {
    background: #eee;
    width: 304px;
    margin-left: 18px;
    margin-top: 11px;
    padding-bottom: 15px;
    &__block {
      padding-left: 7px;
      margin-top: 22px;
      p {
        font: normal 16px "open sans regular";
        &:first-child {
          font-weight: 800;
          margin-bottom: 2px;
        }
        &:last-child {

        }
        a {
          text-decoration: none;
          color: #222;
          font-size: 30px;
          &:not(:first-child){
            margin-left: 30px;
          }
        }
      }
    }
  }
}
//--main styles

//---footer styles
footer {
  padding-bottom: 58px;
  background: #fff;
  .footer-content {
    .violet-band {
      &:before {
        width: 50px;
      }
    }
    .gallery {
      padding-left: 38px;
      margin-top: 20px;
      &__group {
        margin-top: 17px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        width: 304px;
        height: 200px;
      }
    }
  }
  .dancing-font {
    font-size: 36px !important;
  }
}
.footer-nav {
  margin-left: 0;
  padding-left: 85px;
  margin-top: 20px;
  ul {
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
    li {
      display: block;
      margin-left: 0;
      a {
        text-decoration: none;
        color: #222;
        font: normal 18px "open sans regular";
      }
    }
  }
}
.timing {
  padding-left: 0;
  margin-top: 20px;
  &__block {
    p {
      display: flex;
      justify-content: space-between;
      font: normal 16px "open sans regular";
      margin-bottom: 20px;
      width: 290px;
    }
  }
}
//---footer styles