//= template/head.html

<!--header styles-->
<header>
    <div class="container">
        <div class="row">
            <div class="header-content col-md-12">
                <div class="header-nav col-md-12">
                    <div class="logo">
                        <a href="#">
                            <img src="img/logo.png" alt="cool company">
                        </a>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#">HISTORY</a></li>
                            <li><a href="#">PRODUCTS</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </nav>
                    <div class="pink-btn">
                        <button>ASK A QUESTION</button>
                    </div>
                </div>
                <div class="header-quote col-md-12">
                    <p class="dancing-font">Marc Jacobs</p>
                    <p>
                        <strong>Daisy</strong> is a sparkly floral-woody fragrance, fresh and feminine at the same time.
                        It is devoted to a sophisticated, seductive, and dazzling woman, which at the same time strives
                        to simplicity.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<!--end of header styles-->

<!--main styles-->
<main>
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="some-article col-md-12">
                    <div class="some-article__man col-md-6">
                        <img src="img/happy-man.png" alt="The creator of the best spirits in the world - Mr.John">
                    </div>
                    <div class="some-article__text col-md-6">
                        <h3 class="dancing-font violet-band">Fragrance of you life</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur atque dicta
                            dignissimos eius et ex illo laboriosam molestias perferendis possimus recusandae reiciendis
                            rem saepe sint temporibus, veniam veritatis vero voluptate voluptates? Aliquid autem, dolorum
                            earum eum iste molestias officiis omnis possimus saepe tenetur. Alias at doloribus ducimus nobis
                            odio?
                        </p>
                        <div class="pink-btn">
                            <button>READ MORE</button>
                        </div>
                    </div>
                </div>
                <div class="our-history col-md-12">
                    <h3 class="violet-band dancing-font">Our history</h3>
                    <div class="our-history__left col-md-6">
                        <div class="history-stage">
                            <h6 class="orange-stage">History stage 1. Generation</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio illum
                                nesciunt, perspiciatis praesentium qui quos reprehenderit totam. Cumque dolorum fugiat
                                perspiciatis quae ratione? Ab asperiores dolor obcaecati quaerat sed.
                            </p>
                        </div>
                        <div class="history-stage">
                            <h6 class="blue-stage">History stage 3. Success</h6>
                            <img src="img/small-rose.jpg" alt="great roses">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio illum
                                nesciunt, perspiciatis praesentium qui quos reprehenderit totam. Cumque dolorum fugiat
                                perspiciatis quae ratione? Ab asperiores dolor obcaecati quaerat sed.
                            </p>
                        </div>
                    </div>
                    <div class="our-history__right col-md-6">
                        <div class="history-stage">
                            <h6 class="green-stage">History stage 2. Evolution</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio illum
                                nesciunt, perspiciatis praesentium qui quos reprehenderit totam. Cumque dolorum fugiat
                                perspiciatis quae ratione? Ab asperiores dolor obcaecati quaerat sed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="other-products">
        <div class="other-products__block other-products_big">
            <div class="one-product">
                <img src="img/chanel.jpg" alt="No woman can resist you">
                <div class="pink-btn">
                    <button>LEARN MORE</button>
                </div>
            </div>
        </div>
        <div class="other-products__block other-products_small">
            <div class="one-product">
                <img src="img/bvlgari.jpg" alt="The man will be at your feet">
                <div class="pink-btn">
                    <button>LEARN MORE</button>
                </div>
            </div>
            <div class="one-product">
                <img src="img/fragrance.jpg" alt="I want to go to sea">
                <div class="pink-btn">
                    <button>LEARN MORE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="map" id="map">
        <iframe scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d141489.71959748166!2d2.222734317718319!3d48.78052365632329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis%2C+France!5e0!3m2!1sen!2s!4v1494778844553" frameborder="0" allowfullscreen></iframe>
        <div class="we-here">
            <img src="img/logo-white.png" alt="fragrance company here">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="contact-form col-md-12">
                    <h3 class="violet-band dancing-font">Contact with us</h3>
                    <form action="" class="col-md-8">
                        <div class="input-group">
                            <input type="text" placeholder="First name" required>
                            <input type="text" placeholder="Last name">
                        </div>
                        <div class="input-group">
                            <input type="email" placeholder="E-mail address" required>
                            <input type="text" class="phone-number" placeholder="Phone number" required>
                        </div>
                        <div class="input-group">
                            <textarea name="message" id="" cols="30" rows="10" placeholder="Type here your message"></textarea>
                        </div>
                        <div class="pink-btn">
                            <button>SUBMIT</button>
                        </div>
                    </form>
                    <div class="our-contacts col-md-4">
                        <div class="our-contacts__block our-contacts_address">
                            <p>Address</p>
                            <p>99 Barnard St Suite – Paris France</p>
                        </div>
                        <div class="our-contacts__block our-contacts_phone">
                            <p>Phone</p>
                            <p>Local: 1800 200 300</p>
                            <p>Mobile: 666 777 888</p>
                        </div>
                        <div class="our-contacts__block our-contacts_email">
                            <p>Email</p>
                            <p>needhelp@fragrance.com</p>
                        </div>
                        <div class="our-contacts__block our-contacts_social">
                            <p>Follow us</p>
                            <p>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--end of main styles-->
//= template/footer.html


